.project
.cproject
*.o
*.swp
src/mcpp-server
*.out
autom4te.cache
configure.ac_
test
*.swo
*/mcpp-server
mcpp-server
test
src/Makefile
src/Makefile.old
Makefile
stamp-h1
config.*
autoscan.log
configure.scan
src/.deps
remake
plugin
