.project
.cproject
*.o
*.swp
src/mcpp-server
*.out
autom4te.cache
configure.ac_
test
*.swo
*/mcpp-server
mcpp-server
mc++-server
test
Makefile
Makefile.in
configure
depcomp
install-sh
missing
aclocal.m4
stamp-h1
config.h
config.h.in
autoscan.log
configure.scan
src/.deps
remake
plugins
ui
.deps
world
core.*
*.log
*.objdump
countLines
countEmptyLines
testMemErr
